@model Indiana.Models.ChameleonCompanies

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ChameleonCompanies</h4>
    <hr />
    <dl class="row">
    </dl>
</div>
<div>
    @if (User.IsInRole("Administrator"))
    {
        <a asp-action="Edit" asp-route-id="@Model.Usdot">Edit</a>
    }
    |
    <a asp-action="Index">Back to List</a>
</div>
