@model Indiana.Models.TruckingCompanies

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TruckingCompanies</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Usdot" />
            <div class="form-group">
                <label asp-for="LegalName" class="control-label"></label>
                <input asp-for="LegalName" class="form-control" />
                <span asp-validation-for="LegalName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dbaname" class="control-label"></label>
                <input asp-for="Dbaname" class="form-control" />
                <span asp-validation-for="Dbaname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarrierOperation" class="control-label"></label>
                <input asp-for="CarrierOperation" class="form-control" />
                <span asp-validation-for="CarrierOperation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HmFlag" class="control-label"></label>
                <input asp-for="HmFlag" class="form-control" />
                <span asp-validation-for="HmFlag" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PcFlag" class="control-label"></label>
                <input asp-for="PcFlag" class="form-control" />
                <span asp-validation-for="PcFlag" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhyStreet" class="control-label"></label>
                <input asp-for="PhyStreet" class="form-control" />
                <span asp-validation-for="PhyStreet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhyCity" class="control-label"></label>
                <input asp-for="PhyCity" class="form-control" />
                <span asp-validation-for="PhyCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhyState" class="control-label"></label>
                <input asp-for="PhyState" class="form-control" />
                <span asp-validation-for="PhyState" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhyZip" class="control-label"></label>
                <input asp-for="PhyZip" class="form-control" />
                <span asp-validation-for="PhyZip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhyCountry" class="control-label"></label>
                <input asp-for="PhyCountry" class="form-control" />
                <span asp-validation-for="PhyCountry" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MailingStreet" class="control-label"></label>
                <input asp-for="MailingStreet" class="form-control" />
                <span asp-validation-for="MailingStreet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MailingCity" class="control-label"></label>
                <input asp-for="MailingCity" class="form-control" />
                <span asp-validation-for="MailingCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MailingState" class="control-label"></label>
                <input asp-for="MailingState" class="form-control" />
                <span asp-validation-for="MailingState" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MailingZip" class="control-label"></label>
                <input asp-for="MailingZip" class="form-control" />
                <span asp-validation-for="MailingZip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MailingCountry" class="control-label"></label>
                <input asp-for="MailingCountry" class="form-control" />
                <span asp-validation-for="MailingCountry" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telephone" class="control-label"></label>
                <input asp-for="Telephone" class="form-control" />
                <span asp-validation-for="Telephone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fax" class="control-label"></label>
                <input asp-for="Fax" class="form-control" />
                <span asp-validation-for="Fax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailAddress" class="control-label"></label>
                <input asp-for="EmailAddress" class="form-control" />
                <span asp-validation-for="EmailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mcs150Date" class="control-label"></label>
                <input asp-for="Mcs150Date" class="form-control" />
                <span asp-validation-for="Mcs150Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mcs150Mileage" class="control-label"></label>
                <input asp-for="Mcs150Mileage" class="form-control" />
                <span asp-validation-for="Mcs150Mileage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mcs150MileageYear" class="control-label"></label>
                <input asp-for="Mcs150MileageYear" class="form-control" />
                <span asp-validation-for="Mcs150MileageYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddDate" class="control-label"></label>
                <input asp-for="AddDate" class="form-control" />
                <span asp-validation-for="AddDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OicState" class="control-label"></label>
                <input asp-for="OicState" class="form-control" />
                <span asp-validation-for="OicState" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NbrPowerUnit" class="control-label"></label>
                <input asp-for="NbrPowerUnit" class="form-control" />
                <span asp-validation-for="NbrPowerUnit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DriverTotal" class="control-label"></label>
                <input asp-for="DriverTotal" class="form-control" />
                <span asp-validation-for="DriverTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GeoLocation" class="control-label"></label>
                <input asp-for="GeoLocation" class="form-control" />
                <span asp-validation-for="GeoLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddminId" class="control-label"></label>
                <input asp-for="AddminId" class="form-control" />
                <span asp-validation-for="AddminId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
