@page
@model DownloadPersonalDataModel
@{
    ViewData["Title"] = "Download Your Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}
    <div style="background: rgba(211,211,211, 0.94); border-radius: 25px;">
        <h4>@ViewData["Title"]</h4>
        </div>
        @section Scripts {
            <partial name="_ValidationScriptsPartial" />
        }
