@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}
    <div style="background: rgba(211,211,211, 0.94); border-radius: 25px;">
        <header>
            <h1 class="text-danger">@ViewData["Title"]</h1>
            <p class="text-danger">You do not have access to this resource.</p>
        </header>
        </div>
