@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}
    <div style="background: rgba(211,211,211, 0.94); border-radius: 25px;">
        <h1>@ViewData["Title"]</h1>
        <p>
            Please check your email to reset your password.
        </p>
        </div>

