@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
}
    <div style="background: rgba(211,211,211, 0.94); border-radius: 25px;">
        <header>
            <h1 class="text-danger">@ViewData["Title"]</h1>
            <p class="text-danger">This account has been locked out, please try again later.</p>
        </header>
        </div>
