@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}
    <div style="background: rgba(211,211,211, 0.94); border-radius: 25px;">
        <header>
            <h1>@ViewData["Title"]</h1>
            <p>You have successfully logged out of the application.</p>
        </header>
        </div>