@{
    ViewData["Title"] = "Home Page";
}

    <body style="background-image: url('Images/Indiana_Flag.png'); background-size: cover; background-position:center; background-attachment: fixed;">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="text-center, col-lg-6" style="background: rgba(211,211,211, 0.94); border-radius: 25px;">
                <h1 class="text-center">Indiana Trucking Companies</h1>
                <h2 class="text-center">Chameleon</h2>
                <p class="text-center">
                    Shows which companies are suspected of being liquidated companies but have slightly different information.
                    ex: (Legal name being changed or mailing address being changed).
                </p>
                <h2 class="text-center">Trucking</h2>
                <p class="text-center">
                    Shows all trucking companies within the state of Indiana.
                </p>
                <h2 class="text-center">Liquidated</h2>
                <p class="text-center">
                    Shows all of the companies that should be liquidated.
                </p>
                <h2 class="text-center">Map</h2>
                <p class="text-center">
                    Shows all of the trucking companies locations using google maps API.
                </p>
                <div class="col-lg-3"></div>
            </div>
            </div>
    </body>    
    
    