
@{
    ViewData["Title"] = "Map";
}
<h1>Map</h1>
<p>Your Latitude</p>
<p id="lat">@ViewData["lat"]</p>
<p>Your Longitude</p>
<p id="long">@ViewData["long"]</p>
<script>

    var map;
    var locationSplitLat = 40.2672;
    var locationSplitLng = -86.1349;

    if (document.getElementById("lat").innerHTML == "") {
        
    }
    else {
        locationSplitLat = parseFloat(document.getElementById("lat").innerHTML);
        locationSplitLng = parseFloat(document.getElementById("long").innerHTML);
    }

    var focusPointLat = locationSplitLat;
    var focusPointLng = locationSplitLng;

    var focusPointLatRadiusHigh = focusPointLat + 0.5710999999999999;
    var focusPointLngRadiusHigh = focusPointLng + 0.5710999999999999;
    var focusPointLatRadiusLow = focusPointLat - 0.5710999999999999;
    var focusPointLngRadiusLow = focusPointLng - 0.5710999999999999;

    var focusPoint = { lat: focusPointLat, lng: focusPointLng };

    function initMap() {

        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 10,
            center: focusPoint
        });

        var allLats = [focusPointLat, 39.5067, focusPointLatRadiusHigh, focusPointLatRadiusLow, 41.070364, 41, 45, 41.332];
        var allLngs = [focusPointLng, -86.3559, focusPointLngRadiusHigh, focusPointLngRadiusLow, -85.110736, -85, -86, -85.432];
        for (var i = 0; i < allLats.length; i++) {

            var myLatLng = { lat: allLats[i], lng: allLngs[i] };
            var citymap = {
                focus: {
                    center: focusPoint,
                    population: 603502
                }
                };
            if (locationSplitLat == 40.2672) {
                var marker = new google.maps.Marker({
                    position: myLatLng,
                    map: map,
                    title: 'GeoLocation: ' + allLats[i] + ':' + allLngs[i]
                });
            }
            else if (allLats[i] > focusPointLatRadiusHigh || allLngs[i] > focusPointLngRadiusHigh || allLats[i] < focusPointLatRadiusLow || allLngs[i] < focusPointLngRadiusLow ) {
                
            }
            else {
                var marker = new google.maps.Marker({
                    position: myLatLng,
                    map: map,
                    title: 'GeoLocation: ' + allLats[i] + ':' + allLngs[i]
                });
                for (var city in citymap) {
          // Add the circle for this city to the map.
          var cityCircle = new google.maps.Circle({
            strokeColor: '#00FFFF',
            strokeOpacity: 0.8,
            strokeWeight: 2,
            fillColor: '#00FFFF',
            fillOpacity: 0.1,
            map: map,
            center: citymap[city].center,
            radius: 80467.2
          });
        }
            }
        }
        
        
    }
</script>

<div id="map"></div>
<!-- Replace the value of the key parameter with your own API key. -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA-gRm0nZea7Tr4w2aTYiaN6eu7OWxNvQ4&callback=initMap" async defer></script>
