@model IEnumerable<Indiana.Models.TruckingCompanies>

@{
    ViewData["Title"] = "Map";
}
<h1>Map</h1>
<p id="lat">@ViewData["lat"]</p>
<p id="long">@ViewData["long"]</p>
<script>

    var map;
    var locationSplitLat;
    var locationSplitLng;

    locationSplitLat = 40.2672;
        locationSplitLng = -86.1349;
    

    if (1 == 0) {
        locationSplitLat = 40.2672;
        locationSplitLng = -86.1349;
    }
    else {
        
        locationSplitLat = parseFloat(document.getElementById("lat").innerHTML;);
        locationSplitLng = parseFloat(document.getElementById("long").innerHTML;);
    }
    

    var focusPointLat = locationSplitLat;
    var focusPointLng = locationSplitLng;

    var focusPointLatRadiusHigh = focusPointLat + 0.72463768115942;
    var focusPointLngRadiusHigh = focusPointLng + 0.72463768115942;
    var focusPointLatRadiusLow = focusPointLat - 0.72463768115942;
    var focusPointLngRadiusLow = focusPointLng - 0.72463768115942;

    function initMap() {
        var focusPoint = { lat: focusPointLat, lng: focusPointLng };

        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 10,
            center: focusPoint
        });

        var allLats = [41.070364, 41, 45, 41.332];
        var allLngs = [-85.110736, -85, -86, -85.432];
        for (var i = 0; i < allLats.length; i++) {

            var myLatLng = { lat: allLats[i], lng: allLngs[i] };

            if ((focusPointLat == 40.2672 && focusPointLat == -86.1349) || 
                (allLats[i] <= focusPointLatRadiusHigh || allLngs[i] <= focusPointLngRadiusHigh || allLats[i] >= focusPointLatRadiusLow || allLngs[i] >= focusPointLngRadiusLow) ) {
                var marker = new google.maps.Marker({
                    position: myLatLng,
                    map: map,
                    title: 'GeoLocation: ' + allLats[i] + ':' + allLngs[i]
                });
            }
            else {
                

                
            }
        }
    }
</script>

<div id="map"></div>
<!-- Replace the value of the key parameter with your own API key. -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA-gRm0nZea7Tr4w2aTYiaN6eu7OWxNvQ4&callback=initMap" async defer></script>













<!-- Code may be needed for later don't delete. -->




<!--<iframe width="1850"
        height="750"
        frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA-gRm0nZea7Tr4w2aTYiaN6eu7OWxNvQ4
                            &q=306+webcrest+mobile+manor,Follansbee+WV" allowfullscreen>
</iframe>-->
<!--<script>
    function initMap() {
        var location = ViewData["latlong"];
        var locations = location.split(":");
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 10,
            center: new google.maps.LatLng(-33.92, 151.25),
            mapTypeId: google.maps.MapTypeId.ROADMAP
        });

        var infowindow = new google.maps.InfoWindow();

        var marker, i;

        marker = new google.maps.Marker({
            position: new google.maps.LatLng(locations[0], locations[1]),
            map: map
        });
    }
</script>-->
